<div class="tp"><a href="#"><button class="tp-btn btn bi-arrow-up text-dark d-flex end-0 "></button></a></div>
    <!-- footer starts -->
    <footer class="bg-dark p-2 text-center">
        <div class="container">
            <p class="text-white">All Right Reserved By @website Name</p>
            </a>
        </div>
    </footer>
    <!-- footer ends -->

    <!-- All Js -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
