<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') -%>

    <body>
        <%- include('./partials/nav.ejs'); -%>

            <h1 class="test">Page Not Found.</h1>

            <%- include('./partials/footer.ejs') -%>
    </body>

</html>