<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); -%>

    <body>
        <%- include('./partials/nav.ejs'); -%>

        <div class="page">
            <div class=" amain navbar-expand-lg bg-black text-light text-center p-1 d-flex justify-content-center"
                style="margin-top: 100px ;">
                <a class="navbar-brand text-light" href="#" style="width: 100%;background-color: black; padding: 15px; font-size: 2rem;"><span
                    class="text-warning" style="font-weight: bold;">EV</span>club</a>
            </div>
            <div class="d-lg-flex aboutclub">
                <div class="writingPart">
                    <h2 style="display: block; text-align: center; font-size: 20px;">___________</h2>
                    <h1 class=" text-center ">Lorem, ipslum.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum, nisi lorem egestas vitae scel<span id="dots1">...</span><span id="more1"
                            style="display: none;">erisque enim ligula
                            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                            vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                            at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                            venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                            porta.</span></p>
    
                    <div class="buttonr"><button type="button" onclick="myFunction1()" id="myBtn1" style="border:transparent;"
                            class="btn btn--success">Read more</button></div>
    
                </div>
    
                <div class="imagePart">
                    <img src="./img/tubes-1252172.jpg" alt="club image">
                </div>
            </div>
            <div class="d-lg-flex aboutclub">
                <div class="imagePart">
                    <img src="./img/tubes-1252172.jpg" alt="club image">
                </div>
                <div class="writingPart">
                    <h2 style="display: block; text-align: center; font-size: 20px;">___________</h2>
                    <h1 class=" text-center ">Lorem, ipslum.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                        interdum, nisi lorem egestas vitae scel<span id="dots2">...</span><span id="more2"
                            style="display: none;">erisque enim ligula
                            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                            vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                            at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                            venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                            porta.</span></p>
    
                    <!-- <button onclick="myFunction()" id="myBtn">Read more</button> -->
    
                    <div class="buttonr"><button type="button" onclick="myFunction2()" id="myBtn2" style="border:transparent;"
                            class="btn btn--success">Read more</button></div>
    
                </div>
            </div>
        <div id="team">
            <div class="section-header text-center pb-5">
                <h2><span style="color: #d891d8;">Our</span> Secretary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
            </div>
            <div class="sec d-lg-flex d-sm-block">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-1.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Vivek Patel</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-2.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Suraj Singh</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-header text-center pb-5">
                <h2><span style="color: #d891d8;">Our</span> Joint-Secretary</h2>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Non, quo.</p>
            </div>
            <div class="sec d-lg-flex d-md-block">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-2.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Animesh Chaturvedi</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-1.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Aryan Deswal</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-3.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Aryan K. Sharma</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-body">
                        <img src="img/team-4.jpg" alt="" class="img-fluid rounded-circle">
                        <h3 class="card-title py-2">Ankit Kumar</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi
                            ipsam nostrum illo tempora esse quibusdam.</p>
    
    
                        <p class="socials">
                            <i class="bi bi-twitter text-dark mx-1"></i>
                            <i class="bi bi-facebook text-dark mx-1"></i>
                            <i class="bi bi-linkedin text-dark mx-1"></i>
                            <i class="bi bi-instagram text-dark mx-1"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <%- include('./partials/footer.ejs'); -%>

    </body>

</html>