<%- include('header'); -%>

    <div class="test">
        <h2> Carousel </h2>
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Vision </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Mission </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Achievement </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Notices </h2>
        <!-- Required Links -->
        <a href="/notices">Load more</a>
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Our Products </h2>
        <!-- Required Links -->
        <a href="/rent">Rent</a>
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Why Choose Us </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Contact Us </h2>
        <form class="test" action="/contact" method="post">
            <label for="fname" name="fname">First Name</label>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname" name="lname">Last Name</label>
            <input type="text" id="lname" name="lname"><br>
            <label for="email" name="email">E-mail</label>
            <input type="email" id="email" name="email"><br>
            <label for="subject" name="subject">Subject</label>
            <input type="text" id="subject" name="subject"><br>
            <button type="submit">Submit</button>
        </form>
    </div>

<%- include('footer'); -%>