<%- include('header'); -%>

    <div class="test">
        <h2> Carousel </h2>
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Vision </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Mission </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Achievement </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> News </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Our Products </h2>
        <!-- Required Links -->
        <a href="/rent">Rent</a>
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Why Choose Us </h2>
        <!-- Required Links -->
        <p style="color:red;">-------------------------------------------------------------------------------------</p>
    </div>

    <div class="test">
        <h2> Contact Us </h2>
        <!-- Required Links -->
    </div>

    <%- include('footer'); -%>