<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); -%>

    <body>
        <%- include('./partials/nav.ejs'); -%>

            <h1 class="test">Notices</h1>
            <p style="color:red; text-align: center;">
                -------------------------------------------------------------------------------------</p>
            <%- include('./partials/footer.ejs'); -%>
    </body>

</html>