<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); -%>

<body>

    <h1 class="test">Post Notice</h1>

    <form class="test" action="/post/notice" method="post">
        <label for="title" name="title">Title</label>
        <input type="text" id="title" name="title"><br>
        <label for="content" name="content">Content</label>
        <input type="text" id="content" name="content"><br>
        <button type="submit">Submit</button>
    </form>

    <p style="color:red; text-align: center;">-------------------------------------------------------------------------------------</p>

</body>

</html>