<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); -%>

<body>
    <%- include('./partials/nav.ejs'); -%>

    <form class="test" action="/post" method="post">
       <label for="code" name="code">Password</label>
        <input type="text" id="code" name="code"><br>
        <label for="redirect" name="redirect">Redirect to</label>
        <input type="text" id="redirect" name="redirect"><br>
        <button type="submit">Submit</button>
    </form>

    <p style="color:red; text-align: center;">-------------------------------------------------------------------------------------</p>
   
    <%- include('./partials/footer.ejs'); -%>

</body>

</html>